@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap);

/* Camphor */

@font-face {
  font-family: Camphor;
  font-weight: 400;
  src: url(~assets/fonts/camphor-regular.woff2) format("woff2"), url(~assets/fonts/camphor-regular.woff) format("woff");
}

@font-face {
  font-family: Camphor;
  font-weight: 500;
  src: url(~assets/fonts/camphor-medium.woff2) format("woff2"), url(~assets/fonts/camphor-medium.woff) format("woff");
}

@font-face {
  font-family: Camphor;
  font-weight: 600;
  src: url(~assets/fonts/camphor-bold.woff2) format("woff2"), url(~assets/fonts/camphor-bold.woff) format("woff");
}
